In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../stats.csv")
df['start_time'] = pd.to_datetime(df['start_time'], unit='s')
df.describe()

,process_no,ni,batch_size,time_quantum,num_wait_iters,total_waiting_time,turn_around_time
count,153090.000000,153090.000000,153090.0,1.530900e+05,153090.000000,153090.000000,153090.000000
mean,1.000000,306666.666667,100.0,3.067847e+08,3066.666667,0.017342,0.042495
std,0.816499,341151.130097,0.0,7.514646e+08,3411.511301,0.025652,0.053405
min,0.000000,10000.000000,100.0,1.000000e+02,100.000000,0.000002,0.000156
25%,0.000000,50000.000000,100.0,2.500000e+02,500.000000,0.002061,0.005809
50%,1.000000,100000.000000,100.0,1.000000e+03,1000.000000,0.010289,0.019337
75%,2.000000,500000.000000,100.0,5.000000e+03,5000.000000,0.020577,0.057096
max,2.000000,1000000.000000,100.0,2.147484e+09,10000.000000,0.290994,0.375284

In [3]:
tuples = df[['ni']]
tuples.value_counts()

ni
10000      17010
25000      17010
50000      17010
75000      17010
100000     17010
250000     17010
500000     17010
750000     17010
1000000    17010
dtype: int64

In [4]:
res = []
for idx in range(len(df) // 3):
    idx = 3 * idx
    res.append(
        {
            "index": idx // 3,
            "scheduling_algorithm": df.iloc[idx]["scheduling_algorithm"],
            "batch_size": df.iloc[idx]["batch_size"],
            "time_quantum": df.iloc[idx]["time_quantum"],
            "n1": df.iloc[idx + 0]["ni"],
            "n2": df.iloc[idx + 1]["ni"],
            "n3": df.iloc[idx + 2]["ni"],
            "st_1": df.iloc[idx + 0]["start_time"],
            "st_2": df.iloc[idx + 1]["start_time"],
            "st_3": df.iloc[idx + 2]["start_time"],
            "wt_1": df.iloc[idx + 0]["total_waiting_time"],
            "wt_2": df.iloc[idx + 1]["total_waiting_time"],
            "wt_3": df.iloc[idx + 2]["total_waiting_time"],
            "tat_1": df.iloc[idx + 0]["turn_around_time"],
            "tat_2": df.iloc[idx + 1]["turn_around_time"],
            "tat_3": df.iloc[idx + 2]["turn_around_time"],
        }
    )

In [5]:
stats = pd.DataFrame(res)
stats.to_csv('formatted_stats.csv', index=False)